
<h1>{{ article_title }}</h1>
<div>
{{ article_text }}
</div>
<div>Date: {{ article_date }}</div>
<div>Author: {{ article_author }}</div>

{% if name %}
<form>

<div class="form-group" style="padding-top:18px;">
    <textarea type="text" id = "comment_input" class="form-control status-box-text" rows="2" placeholder="What's on your mind?"></textarea>
</div>

<button type="button" id="addcomment" class="btn btn-success">Post</button>
</form>
{% endif %}

<hr>
<div style="padding-top:20px;">
Comments:
<br/>
{% for comment in comments %}
{{ comment['comment_text'] }} <br/>
{{ comment['comment_author'] }}
{{ comment['comment_date'] }} <br/><br/>
{% endfor %}
</div>


<script>
$(document).ready(function(){
	$('#addcomment').click(function() {
		var comment_text = $("#comment_input").val();
		var location = window.location.pathname.substr(1)
		var sendData = { SendInfo:
			[Comment_text: comment_text,
			Location: location]
		};
		$.post("/add/comment/add/", { comment_text: comment_text, location: window.location.pathname.substr(1) },
			function(data){
    			if (data === "NONAME") {
					alert("Only authorized users can publish comments!")
					window.location.href = ("/")
				} else {
					window.location.reload()
				};
		});
	return false;
});
</script>

