<form>
<div class="container">
	
	<p style="padding-top:30px;">Hello there!<br/><br/>Please, input your Nickname</p>
	<input type="text" placeholder="Name" name="name" id="name">
    
	<p style="padding-top:15px;">Then input your email</p>
	<input type="email" placeholder="Email" name="email" id="email">
    
	<p style="padding-top:15px;">At least, input your password</p>
	<input type="password" placeholder="Password" name="password" id="password"> 
</div>
<div class="container" style="padding-top:15px;">
	<button id="button_reg" class="btn btn-success">OK</button>
</div>
</form>

<script>
$(document).ready (function(){
	$('#button_reg').click(function() {
		var name = $("#name").val();
		var email = $("#email").val();
		var password = $("#password").val();
		$.post("/reg/reg/", { name: name, email: email, password: password },
				function(data){
    			if (data === "Registration successfull!") {
					alert("Registration successfull!")
					window.location.href = ("/")
				} else {
					alert(data)
				};
		});
	return false;
	});
});
</script>

<!--DO: if data == name already exists | email already exists ==> ALERT else ==> redirect to SUCCESFULL PAGE -->
